<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="background: #4589a0">
    <header>
      <nav>
        <div class="logo">LOGO</div>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="/cart" class="cart-btn">Cart</a>
      </nav>
    </header>

    <main style="padding: 2rem">
      <div class="product-holder">
        <div class="img-holder">
          <img src="/assets/14d0623d-da6b-473e-a84b-65b4f8aa9878.jpeg" />
        </div>
      </div>
    </main>

    <script src="script.js"></script>
    <script>
      renderProducts("product-list");
    </script>
  </body>
</html>
