<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOP HUB | Admin</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
        <h2>Admin</h2>
        <nav>
          <ul>
            <li><a href="/addproduct">Add Product</a></li>
            <li><a href="/updateproduct">Edit Product</a></li>
            <li><a href="/deleteproduct">Delete</a></li>
            <li><a href="/addbanner">Add Banner</a></li>
          </ul>
        </nav>
      </aside>
      <main class="main-view">
        <div id="content">
          <h2>Add Banner</h2>
          <form
            enctype="multipart/form-data"
            method="POST"
            action="/dashboard/addbanner"
          >
            <input
              type="text"
              name="title"
              placeholder="banner title"
              required
            />
            <input type="file" placeholder="banner" name="banner" required />
            <button type="submit">Upload Banner</button>
          </form>
          <a href="/removebanner"><button>Remove an existing banner</button></a>
        </div>
      </main>
    </div>
  </body>
</html>
