<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link rel="stylesheet" href="stylesheets/demo.css" />
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
        <h2><%= user.name %></h2>
        <nav>
          <ul>
            <li><a href="/addproduct">Add Product</a></li>
            <li><a href="/updateproduct">Edit Product</a></li>
            <li><a href="/deleteproduct">Delete</a></li>
            <li><a href="/addbanner">Add Banner</a></li>
          </ul>
        </nav>
      </aside>
      <main class="main-view">
        <div id="content">
          <h2>Welcome, <%= user.name%></h2>
          <p>Select an option from the left to get started.</p>
        </div>
      </main>
    </div>
  </body>
</html>
